<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Random Recipes - Login </title>

  <link rel="stylesheet" href="../../static/css/style-login.css">
  <link rel="shortcut icon" href="../../static/img/logos/Random Recipes.png" type="image/x-icon">
  
</head>
<body>
  <div class="container">
    <header>
      <div class="title"> random recipes </div>
      <div class="divisor"></div>

      <div class="subtitle">
        <span> Faça seu login abaixo! </span>
      </div>
    </header>

    <section>

      <div class="form-area">
        <form action="{% url 'app_random_recipes:login' %}" method="POST">
        {% csrf_token %}
        <div class="input-box">
            <!-- <label for="">email: </label> -->
            <input placeholder="Email:" type="email" name="email" id="emailInput" value="mateus@gmail.com" required>
          </div>
          <div class="input-box">
            <!-- <label for="">senha: </label> -->
            <input placeholder="Senha:" type="password" name="password" id="passwordInput" value="12345678" required>
          </div>

          <button type="submit"> login </button>

          <div class="addons">
            <span> Esqueceu sua senha? <a href="#"> Redefinir agora.</a></span> 
            <span> Não possue uma conta? <b> <nobr> Registre-se abaixo! </nobr></b></span> 

            <button type="button" id="register_page"> criar conta! </button>
          </div>

        </form>

      </div>
    </section>

  </div>
  <script>
    document.getElementById("register_page").onclick =  function() {
      location.href = "{% url 'app_random_recipes:register' %}"
    }
  </script>
</body>
</html>