<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Random Recipes - Login </title>

  <link rel="stylesheet" href="../../static/css/style-register.css">
  <link rel="shortcut icon" href="../../static/img/logos/Random Recipes.png" type="image/x-icon">
  
</head>
<body>
  <div class="container">
    <header>
      <div class="title"> 
        <span>Junte-se à milhares de cozinheiros ao redor do mundo!</span> 
      </div>
      <!-- <div class="divisor"></div> -->

      <div class="subtitle">
        <span> Descubra o chef em você: sabores incríveis nascem na sua própria cozinha. </span>
      </div>
    </header>

    <section>

      <div class="form-area">
        <form action="">

          <div class="input-box">
            <!-- <label for="">email: </label> -->
            <input placeholder="Email:" type="email" name="email" id="emailInput" required>
          </div>
          <div class="input-box">
            <!-- <label for="">senha: </label> -->
            <input placeholder="Senha:" type="password" name="password" id="passwordInput" required>
          </div>

          <div class="input-box">
            <!-- <label for="">senha: </label> -->
            <input placeholder="Confirme sua Senha:" type="password" name="password" id="passwordInput" required>
          </div>
          
          <div class="addons">
            <input type="checkbox" name="agreementTerms" id="agreementTerms">
            <span> "Eu <b>concordo</b> com os <b>Termos</b> e <b>Condições</b> de uso do serviço e declaro que li atentamente os <b>termos</b> antes de prosseguir."</span> 
          </div>

          <button type="submit"> criar conta! </button>
        </form>
      </div>
    </section>

  </div>
  <script src="../static/js/script.js"></script>
</body>
</html>