/****************/
/* 1 REM = 16 px */
/*****************/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

body 
{
  background-image: url(../img/lasse-bergqvist-TYj7ey6xn9M-unsplash\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);  
  /* Cor de fundo semi-transparente */
  background-blend-mode: multiply;
   /* Mistura de cores para escurecer */
}

@media(min-width: 320px) and (max-width: 768px) 
{
  body 
  {
    background: linear-gradient(180deg, #F27141 0%, #BF0426 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  header
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 18rem;
    margin-block: 1rem;
    gap: 0.5rem;
  }

  header .title 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;

    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  header .subtitle
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;

    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
  }

  section 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    width: 100%;
  }

  section .form-area
 {
  width: 80%;
  height: 14rem;
 }

 section .form-area .input-box 
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 section .form-area .input-box input 
 {
  font-family: Poppins;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 11px;
  height: 3rem;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  margin-block: 1rem;
 }

 section .form-area .input-box input:focus
 {
  background-color: #f2f2f2; 
  color: #000000;
 }

 .form-area .addons
 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 0.6rem;
   
   /* align-items: center; */
 } 

 .form-area .addons span 
 {
  text-align: justify;
  font-family: Poppins;
  font-size: 0.8rem;
  color: white;
 }


 .form-area button 
 {
  height: 4rem;
  width: 100%;

  border-radius: 11px;
  border: none;
  outline: none;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: #f27141;
  color: white;
  margin-block: 1rem;
 }
}

@media (min-width:768px)
{

  .container 
  {
    display: grid;
    grid-template-columns: 520px;
    /* height: 100%; */
    gap: 20px;
    max-width: 32.5rem;
    padding: 20px;

    /* background: linear-gradient(180deg, #F27141 0%, #BF0426 100%); */
    /* height: 100%; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* max-width: 32.5rem; */

  }

  header
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 18rem;
    /* margin-block: 1rem; */
    gap: 0.5rem;
  }

  header .title 
  {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  header .subtitle
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
  }

  section 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    width: 100%;
  }

  section .form-area
 {
  width: 80%;
  height: 14rem;
 }

 section .form-area .input-box 
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 section .form-area .input-box input 
 {
  font-family: Poppins;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 11px;
  height: 3rem;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  margin-block: 1rem;
 }

 section .form-area .input-box input:focus
 {
  background-color: #f2f2f2; 
  color: #000000;
 }

 .form-area .addons
 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 0.6rem;
   
   /* align-items: center; */
 } 

 .form-area .addons span 
 {
  text-align: justify;
  font-family: Poppins;
  font-size: 0.8rem;
  color: white;
 }

 .form-area button 
 {
  height: 4rem;
  width: 100%;

  border-radius: 11px;
  border: none;
  outline: none;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: #f27141;
  color: white;
  margin-block: 1rem;
 }
}

@media(min-width:1024px) 
{

}

/*****************/
/*    HOVERS     */
/*****************/

section form .addons button:hover
{
 background-color: #fd6832;
 letter-spacing: 0.2rem;

}

form button:hover 
{
  transition: 0.2s;
  cursor: pointer;
  margin-block: 1rem;
  color: white;
}